#chessAnarchy{
	min-width: 1022px;
	min-height: 617px;
	border: 2px gray solid;
	padding: 10px;
}

@media (max-width: 1077px) {
	.chessAnarchyNotation {
		display:none!important;
		visibility:hidden!important;
	}
	#chessAnarchy {
		width: 875px;
		min-width: 0px;
	}
}

@media (max-width: 920px) {
	#chessAnarchy {
		width: 430px;
		min-width: 0px;
		min-height: 986px;
	
	}
	
	.chessAnarchyChat {
		margin-top: 20px!important;
		height: 317px!important;
		width:404px!important;
		margin-left:8px;
	}
}